.aside {
    width: 140px;
}

.logo-link {
    display: flex;
    justify-content: center;
}

.aside-menu li {
    position: relative;
    font-style: italic;
}

.aside-menu {
    margin-top: 13px;
}

.aside-menu li:not(:last-child) {
    margin-bottom: 36px;
}

.menu-icon {
    display: flex;
    align-items: center;
    word-break: break-word;
    min-height: 30px;
    line-height: 22px;
    margin-left: 5px;
    padding-left: 40px;
}

.menu-icon:hover {
    background: #ccc;
}

.menu-icon::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 7px;
    background: url('../assets/svg/food-icon.svg') no-repeat center center / cover;
}

.icon-tastemakers::before {
    background-image: url('../assets/svg/food-icon.svg');
}

.icon-blog::before {
    background-image: url('../assets/svg/blog-icon.svg');
}

.icon-list::before {
    background-image: url('../assets/svg/a-list-icon.svg');
}

.icon-contribure::before {
    background-image: url('../assets/svg/camera-icon.svg');
}

.icon-about::before {
    background-image: url('../assets/svg/about-icon.svg');
}

.aside-tweets {
    margin-top: 44px;
}

.aside-head {
    font-family: 'Verdana', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed #E5E5E5;
}

.aside-text {
    font-size: 10px;
    font-style: italic;
    line-height: 19px;
    margin: 10px 0 15px;
}

.aside-btn {
    display: block;
    position: relative;
    font-size: 10px;
    font-style: italic;
    padding: 10px 6px 10px 29px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.aside-btn::before {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    left: 7px;
    top: 7px;
}

.icon-tweet-blue::before {
    background: url('../assets/svg/twitter-icon-blue.svg') no-repeat center center / cover;
}