@import url("reset.css");
@import url("fonts.css");

/* BASE STYLES */

@import url("base.css");

/* ASIDE */

@import url("layout/aside.css");

/* MAIN BLOCK */

@import url("layout/main-block.css");

/* FOOTER */

@import url("layout/footer.css");

/* CONTAINER */

.container {
    max-width: 1080px;
    padding: 0 50px;
    margin: 0 auto;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.content:first-child {
    margin-right: 44px;
}

@media only all and (max-width: 992px) {
    .main-wrap {
        flex-direction: column;
    }

    .content:first-child {
        margin-right: 0;
    }