@import url("reset.css");
@import url("fonts.css");

/* BASE STYLES */

@import url("base.css");

/* ASIDE */

@import url("layout/aside.css");

/* MAIN BLOCK */

@import url("layout/main-block.css");

/* FOOTER */

@import url("layout/footer.css");

/* CONTAINER */

.container {
    width: 1080px;
    margin: 0 auto;
    
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}



