.banner {
    min-height: 445px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../../../assets/img/bg.jpg") no-repeat center center / cover;

    &__content {
        position: absolute;
        left: 0;
        bottom: 70px;
        width: 100%;
    }

    &__header,
    &__description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-style: italic;
        padding: 14px 20px 14px 24px;
    }
    
    &__header {
        max-width: 272px;
        line-height: 22px;
        font-size: 22px;
        color: $dark;
        background: #fff;
    }
    
    &__description {
        max-width: 487px;
        font-size: 14px;
        line-height: 15px;
        background: $dark;
        color: #fff;
    }
}


@media only all and (max-width: 768px) {
    .banner {
        &__header,
        &__description {
            min-width: 100%;
        }
        
        &__header {
            opacity: .6;
        }

        &__content {
            bottom: 0;
        }
    }
}