.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {   
    letter-spacing: -0.02em;
    margin: 0 20px 20px 0;
    flex-basis: calc(25% - 15px);
    
    &:nth-child(4n) {
        margin-right: 0;
    }   
    
    &__img-wrap {
        display: flex;
        height: 143px;
        border: 1px solid $smokie;
        box-shadow: $card-shadow;
        padding: 12px;
    }
    
    &__img {
        width: 100%;
        object-fit: cover;
    }
    
    &__header {
        display: block;
        margin-top: 11px;
        font-size: 16px;
        line-height: 21px;
    }
    
    &__text {
        font-size: 14px;
        line-height: 20px;
        margin-top: 9px;    
    }
    
    &__footer {
        margin-top: 10px;
    }
    
    &__date {
        color: $smokie;
        font-size: 14px;
        line-height: 20px;
        
        &::after {
            content: " /";
        }
    }
    
    &__link::after {
        content: "...";
    }
}

@media only all and (max-width: 1176px) {
    .card {
        margin-right: 25px;
        flex-basis: calc(25% - 19px);
    }
}

@media only all and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 16px);
        margin-right: 32px;
        
        &:nth-child(2n) {
            margin-right: 0;
        }
    
        &__img-wrap {
            min-height: 190px;
        }
    }
}


@media only all and (max-width: 480px) {
    .cards {
        align-items: center;
    }

    .card {
        flex-basis: calc(100% - 100px);
        margin: 15px auto 0;
        
        &:not(:nth-child(4n)),
        &:nth-child(4n) {
            margin-right: auto;
            margin-left: auto;  
        }
    
        &__img-wrap {
            min-height: 210px;
        }
    }
}