.subscribe {
    display: flex;
    margin-top: 30px;
    border-top: 1px dashed $smokie;
    border-bottom: 1px dashed $smokie;
    align-items: center;
    padding: 10px 18px 10px;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__icon {
        min-width: 32px;
        height: 26px;
        background: url("../../../assets/svg/mail-icon.svg") no-repeat center center / cover;
    }
    
    &__text {
        font-size: 14px;
        font-style: italic;
        max-width: 530px;
        line-height: 16px;
        margin-left: 16px;
    }
    
    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 24px;
    }
    
    &__input {
        height: 22px;
        min-width: 160px;
        border: 1px solid $smokie;
        padding: 6px;
        margin-right: 18px;
        
        &::placeholder {
            font-size: 10px;
        }
        
        &:hover {
            border: 1px solid $smokie;  
        }
    }
    
    &__btn {
        min-width: 80px;
        height: 22px;
        border-radius: 2px;
        font-size: 10px;
        background: $subscribe-btn;
        border: 1px solid $smokie;
        cursor: pointer;
        
        &:active {
            border: none;
        }
    }
}

@media only all and (max-width: 768px) {
    .subscribe {
        flex-direction: column;
        &__wrap {
            width: 100%;
        }
    
        &__text {
            max-width: 100%;
        }
    
        &__form {
            width: 100%;
            margin-left: 0;
            margin-top: 16px;
        }
    
        &__input {
            flex: 1 0;
        } 
    }
}