.tabs {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        display: flex;
        flex-direction: column;
        flex: 1 0 19%;
        background: $tab-bg;
        padding: 26px 20px 22px;

        &:not(:last-child) {
            border-right: 1px solid $tab-border;
        }
        
        &:hover {
            background: $tab-hover;
            transition: .3s;
        }
    }
    
}

.tab {
    &__head {
        font-size: 18px;
    }
    
    &__text {
        font-size: 10px;
        font-style: italic;
        line-height: 19px;
    }
}


@media only all and (max-width: 1176px) {
    .tabs__item {
        padding: 10px;
        justify-content: center;
    }

    .tab {
        &__head {
            text-align: center;
        }
    
        &__text {
            display: none;
        }
    }
}

@media only all and (max-width: 768px) {
    .tabs {
        display: none;
    }
}