.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {   
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    flex: 1 1 157px;
    max-width: 207px;
    margin-right: 20px;
    
    &:nth-child(4n) {
        margin-right: 0;
    }   
    
    &__img-wrap {
        display: flex;
        height: 143px;
        border: 1px solid #E5E5E5;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        padding: 12px;
    }
    
    &__img {
        width: 100%;
        object-fit: cover;
    }
    
    &__header {
        display: block;
        margin-top: 11px;
        font-size: 16px;
        line-height: 21px;
    }
    
    &__text {
        font-size: 14px;
        line-height: 20px;
        margin-top: 9px;    
    }
    
    &__footer {
        margin-top: 10px;
    }
    
    &__date {
        color: #E5E5E5;
        font-size: 14px;
        line-height: 20px;
        
        &::after {
            content: " /";
        }
    }
    
    &__link::after {
        content: "...";
    }
}

@media only all and (max-width: 1176px) {
    .card {
        margin-right: 25px;
    }
}

@media only all and (max-width: 769px) and (max-width: 807px) {
    .card {
        margin-right: 32px;
    }
}

@media only all and (max-width: 768px) {
    .card {
        flex-basis: 40%;
        max-width: 50%;
        margin-right: 32px;
        
        &:nth-child(2n) {
            margin-right: 0;
        }
    
        &__img-wrap {
            min-height: 190px;
        }
    }
}


@media only all and (max-width: 480px) {
    .cards {
        align-items: center;
    }

    .card {
        flex-basis: 90%;
        max-width: 90%;
        width: 80%;
        margin: 15px auto 0;
        
        &:not(:nth-child(4n)),
        &:nth-child(4n) {
            margin-right: auto;
            margin-left: auto;  
        }
    
        &__img-wrap {
            min-height: 210px;
        }
    }
}