.aside {
    display: flex;
    flex-direction: column;
    flex: 1 0 140px;
    min-width: 140px;
}

.logo {
    display: flex;
    justify-content: center;
}

/* ASIDE MENU */

.aside__menu {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.menu__item {
    display: flex;  
}

.aside__menu li:not(:last-child) {
    margin-bottom: 36px;
}

.menu__icon {
    display: flex;
    align-items: center;
    word-break: break-word;
    width: 30px;
    height: 30px;
    min-height: 30px;
}

.menu__item:hover {
    background: #ccc;
}

.menu__icon {
    left: 7px;
    background: url('../../assets/svg/food-icon.svg') no-repeat center center / cover;
}

.menu__tastemakers {
    background-image: url('../../assets/svg/food-icon.svg');
}

.menu__blog {
    background-image: url('../../assets/svg/blog-icon.svg');
}

.menu__list {
    background-image: url('../../assets/svg/a-list-icon.svg');
}

.menu__contribure {
    background-image: url('../../assets/svg/camera-icon.svg');
}

.menu__about {
    background-image: url('../../assets/svg/about-icon.svg');
}

.menu__text {
    font-style: italic;
    line-height: 22px;
    margin-left: 5px;
}

/* WIDGET */

.aside__widgets {
    margin-top: 44px;
}

.widget__head {
    font-family: 'Verdana', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed #E5E5E5;
}

.widget__text {
    font-size: 10px;
    font-style: italic;
    line-height: 19px;
    margin: 10px 0 15px;
}

.widget__btn {
    display: block;
    position: relative;
    font-size: 10px;
    font-style: italic;
    padding: 10px 6px 10px 29px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.widget__btn::before {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    left: 7px;
    top: 7px;
}

.widget__btn_tweeter::before {
    background: url('../../assets/svg/twitter-icon-blue.svg') no-repeat center center / cover;
}

@media only all and (max-width: 992px) {
    .aside {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .aside__menu {
        flex-direction: row;
        flex-wrap: wrapj;
        margin: 0;
        width: auto;
        
    }

    .aside__menu li {
        width: 100px;
    }

    .aside__menu li:not(:last-child) {
        margin-bottom: 0;
    }

    .menu__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .menu__text {
        margin: 0;
    }

    .aside__widgets {
        display: none;
    }
}