.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs__item {
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    background: #EFF8F7;
    padding: 26px 20px 22px;
}

.tabs__item:not(:last-child) {
    border-right: 1px solid #D6E6E6;
}

.tabs__item:hover {
    background: #D9EFEC;
    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}

.tab__head {
    font-size: 18px;
}

.tab__text {
    font-size: 10px;
    font-style: italic;
    line-height: 19px;
}

@media only all and (max-width: 1176px) {
    .tabs__item {
        padding: 10px;
        justify-content: center;
    }

    .tab__head {
        text-align: center;
    }

    .tab__text {
        display: none;
    }
}

@media only all and (max-width: 768px) {
    .tabs {
        display: none;
    }
}