.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &__link {
        background: no-repeat center center / cover;
        height: 32px;
        width: 32px;
        margin-bottom: 4px;

        &:not(:last-child) {
            margin-right: 4px;
        }

        @each $social in twitter, fb, rss {
            &_#{$social} {

                background-image: url("../../../assets/svg/#{$social}-icon-gray.svg");
            }
        }
    }
}
