.aside__menu {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.menu__item {
    display: flex;  
}

.aside__menu li:not(:last-child) {
    margin-bottom: 36px;
}

.menu__icon {
    display: flex;
    align-items: center;
    word-break: break-word;
    width: 30px;
    height: 30px;
    min-height: 30px;
}

.menu__item:hover {
    background: #ccc;
}

.menu__icon {
    left: 7px;
    background: url('../../../assets/svg/food-icon.svg') no-repeat center center / cover;
}

.menu__tastemakers {
    background-image: url('../../../assets/svg/food-icon.svg');
}

.menu__blog {
    background-image: url('../../../assets/svg/blog-icon.svg');
}

.menu__list {
    background-image: url('../../../assets/svg/a-list-icon.svg');
}

.menu__contribure {
    background-image: url('../../../assets/svg/camera-icon.svg');
}

.menu__about {
    background-image: url('../../../assets/svg/about-icon.svg');
}

.menu__text {
    font-style: italic;
    line-height: 22px;
    margin-left: 5px;
}

@media only all and (max-width: 992px) {
    .aside__menu {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        width: auto;
    }
    
    .aside__menu li {
        min-width: 100px;
    }
    
    .aside__menu li:not(:last-child) {
        margin-bottom: 0;
    }
    
    .menu__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    
    .menu__icon {
        margin-bottom: 12px;
    }
    
    .menu__text {
        margin: 0;
    }
}

@media only all and (max-width: 768px) {
    
    .menu__icon {
        display: none;
    }
    
    .menu__text {
        line-height: 34px;
    }
}

@media only all and (max-width: 480px) {
    .aside__menu {
        justify-content: center;
    }
}