$primary: #34ACA7;
$dark: #000;
$smokie: #e5e5e5;
$tab-bg: #EFF8F7;
$tab-border: #F9FBFB;
$tab-hover: #D9EFEC;

$subscribe-btn: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
$card-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);